
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Subpage.cshtml";
}
<link href="~/assets/global/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet" />



<div  style="height:100%">
    <div class="row">
        <div class="col-md-2">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-social-dribbble font-blue-sharp"></i>
                        <span class="caption-subject font-blue-sharp bold uppercase">机构列表</span>
                    </div>
                </div>
                <div class="portlet-body" style="height:86%">
                    <div id="OrgTree" class="OrgTree" style="height:100%"></div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
        <div class="col-md-10">
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet light portlet-fit " style="height:100%">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-social-dribbble font-blue-sharp ui-jqgrid-titlebar-close"></i>
                        <span class="caption-subject font-blue-sharp bold uppercase">用户列表</span>
                    </div>
                </div>
                <div > 
                    <table id="UserList"> </table>
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->
        </div>

    </div>
</div>

<script src="~/assets/global/plugins/jstree/dist/jstree.min.js" type="text/javascript"></script>
<script src="~/assets/pages/scripts/ui-tree.min.js" type="text/javascript"></script>

<script src="~/assets/global/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="~/assets/global/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

<script src="~/assets/pages/scripts/UserView.js"></script>