
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        LoadOrgs();
    })
    
    function LoadOrgs() {
        var $gridList = $("#gridList");
        $gridList.jqGrid({
            treeGrid: true,
            datatype: "json",           
            gridview: true,
            treeGridModel: "adjacency",        
            ExpandColumn: "OrgName",
            url: "/SystemManage/OrgManage/GetOrgs",
            datatype: "json",
            width: $(window).width()+5,
            height: $(window).height() - 90,          
            colModel: [
                { label: "主键", name: "OrgCode", index: "OrgCode", hidden: true, key: true, align: 'left' },
                { label: "上级编号", name: "ParentCode", index: "ParentCode", hidden: true, },
                { label: '名称', name: 'OrgName', index: "OrgName", width: 200, align: 'left' },
                { label: '创建时间', name: 'CreaterDate', index: "CreaterDate", width: 160, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
                { label: '备注', name: 'OrgExplain', index: "OrgExplain", width: 200, align: 'left' }
                ,
                {
                    name: '功能',
                    width: 100,
                    align: 'left',
                    formatter: function (value, grid, rows, state) {
                        var rid = rows.OrgCode;
                        var ddd = "Edit('" + rid + "')";
                        var ccc = "Delete('" + rid + "')";
                        return '<input id="Edit" type="button" class="btn btn-success btn-xs" name="Submit" value="编辑"  onclick="' + ddd+'"/>'
                            + '&nbsp;&nbsp;'
                            + '<input id="Delete" type="button" class="btn btn-danger btn-xs" value="删除" onclick="' + ccc+'"/>';
                    }
                }
            ]
        });
    }; 

    function Delete(id) {
        $.deleteForm({
            url: "/SystemManage/OrgManage/DeleteOrg",
            param: { ID: id },
            success: function () {
                $.currentWindow().$("#OrgTree").resetSelection();
                $.currentWindow().$("#OrgTree").trigger("reloadGrid");
            }
        });       
    }
    
    function Edit(id)
    {      
        $.modalOpen({
            id: 'Form',
            title: '修改机构',
            url: '/SystemManage/OrgManage/Edit?ID=' + id,
            width: '700px',
            height: '400px',
            callBack: function (iframeId) {            
              top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增机构",
            url: "/SystemManage/OrgManage/Edit",
            width: "700px",
            height: "400px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }          
        });
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="btnAdd" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建机构</a>
        </div>       
    </div>    
</div>

<div class="gridPanel">   
   <table id="gridList"></table>
</div>




