
@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<section id="basic-alerts">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Default Alerts</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    

