@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_From.cshtml";
}

<script>
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }

        $.submitForm({
            url: '/SystemManage/UserManage/ResetPassWord',
            param: $("#form1").formSerialize(),
            type: 'POST',
            success: function () {
                $.currentWindow().$('#UserList').trigger('reloadGrid');
            }
        })
    }

</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <input id="ID" value="@ViewData["ID"]" hidden="hidden" />
        <input id="PassWord" type="password" class="form-control required" placeholder="新密码"/>        
        <input id="ConfirmPassWord" type="password" class="form-control required" placeholder="确认密码" />
    </div>
</form>
