
@{
    Layout = null;
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />  
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <title>登 录 </title>
    <script type="text/javascript">
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(formDemo)', function (data) {               
                Login();
                return false;
            });
        });
        //$(document).ready(function () {
         Login=function () {             
                $.ajax({
                    type: 'POST',
                    url: '/Account/Login',
                    data: { Name: $('#txtName').val(), PassWord: $('#txtPassWord').val() },
                    dataType: 'JSON',
                    success: function (res) {
                        layui.layer.msg(res.state);
                        if (res.state == "success") {                            
                            layui.layer.msg(res.message);                           
                            setTimeout(function () { window.location.href = res.Url; }, 300);

                        } else {                          
                            layui.layer.msg(res.message); 
                        }
                    }
                });
        };
         $(document).ready(function () {
             $('#txtName').focus();
         })
        //});
    </script>
</head>
<body class="layui-bg-gray">    
    <div  style="padding: 10% 0;">
        <div class="layui-container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form class="form-horizontal layui-form">
                        <span class="heading">用户登录</span>
                        <div class="form-group  layui-layer-input">
                            <input type="text" maxlength="50" class="form-control" runat="server" required lay-verify="required" placeholder="请输入账号" id="txtName">
                            <i class="glyphicon glyphicon-user"></i>
                        </div>
                        <div class="form-group  layui-layer-input">
                            <input type="password" maxlength="50" class="form-control layui-layer-input" runat="server" required lay-verify="required" placeholder="请输入密码" id="txtPassWord">
                            <i class="glyphicon glyphicon-lock"></i>
                        </div>
                        <div class="form-group">                      
                            @*<button lay-submit class="layui-btn layui-btn-radius" style="float:right" lay-filter="formDemo" id="btnLogin">立即登录</button>*@    
                            <button class="btn btn-primary btn-lg" style="float:right" lay-submit lay-filter="formDemo" id="btnLogin">   立即登录  </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
